

<html>
<head>
    <style>
        .flex-container {
            display: flex;
            background-color: white;
        }
        
        .flex-container > div {
            margin-left: 10px;
            margin-bottom: 10px;
            padding: 10px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class='flex-container'>
<div> 
    <div style="padding: 10px; width: 250px;"> <h3>Word Ladder Game</h3> </div>
    <div class="formwrapper" style="padding: 10px; width: 250px;">
        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </div>
    <div style="padding: 20px; width: 250px;"> 
        <li>Solve the puzzle by completing the 10-word chain.</li>
        <br>
        <li>Each word forms a phrase with the word below it. </li>
        <br>
        <li>After a word is chosen, one letter is revealed. Reveal one letter
            per guess until only one letter remains. The last letter remains hidden
            until guessed correctly.</li>
        <br>
        <li>If your guess contains numbers or punctuation, your guess is wrong. </li>
        <br>
        <li>Scoring is based on the proportion of letters revealed when 
            the correct answer is guessed. Points are calculated by rounding down the 
            product of 10 times the percentage of letters that remain hidden.</li>
        <br>
        <li>Beware Weird Phrases. I used NLP tools to extract two-word 
            phrases from 150,000 news articles. I took the most common 100,000 word 
            pairings and removed words with fewer than three 'connecting' words to avoid 
            potential dead ends. The resulting collection includes many phrases that 
            do not qualify as common idioms, and a handful that may be offensive.
            An improved collection is in the works! </li>
        <br>
        <li> Data source: https://www.kaggle.com/snapcrack/all-the-news </li>
                

    </div>
</div>
    <div class="flex-container" style="flex-direction: column;">
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
        <div style="flex-basis: 30px; width:130px; background-color: #64dfce;">  </div>
    </div>
</div>

</body>
</html>