
<head>
    <style>
        .flex-container {
          display: flex;
          background-color: white;
        }
        
        .flex-container > div {
          margin-left: 10px;
          margin-bottom: 0px;
          padding: 10px;
          font-size: 20px;
        }
    </style>
</head>
<div class="flex-container">
    <div>
        <div style="padding: 10px; width: 250px;"> <h3>Word Chain Puzzle</h3> </div>
            {% if turn % 2 != 0 %}
                <div style="width: 250px; padding: 20px; background-color: #fdff89;"> {{"Player 1's turn. Submit your guess!"}} </div>
                {% else %}
                <div style="width: 250px; padding: 20px; background-color: #89c6ff;"> {{"Player 2's turn. Submit your guess!"}} </div>
                {% endif %}
        <div style="padding: 20px; width: 250px;"> Solve the puzzle by completing the 10-word chain.
            Each word forms a phrase with the word below it. {{choice}} </div>
    </div>

    <div
     class="flex-container" style="flex-direction: column;">
        {% for i, word in board %}
        {% if i in solved %}
            <div style="flex-basis: 30px; width:130px; background-color: #64dfce;"> {{word}} </div>        
        {% elif i not in solved %}
            {% if i in active %}
                {% if i == choice %}
                    <div style="flex-basis: 30px; width:130px; background-color: #64dfce;"> {{word[:letters_active]}}
                        <div class="formwrapper">
                            <form method="POST" action="" >
                                {{ form.csrf_token }}
                                {{ form.answer }}
                                {{ form.submit }}
                            </form>
                        </div>
                    </div>
                {% elif i != choice %}
                    <div style="flex-basis: 30px; width:130px; background-color: #64dfce;"> {{word[:letters_other]}} </div>
                {% endif %}
            {% elif i not in active %}
            <div style="flex-basis: 30px; width:130px; background-color: #64dfce;"> {{" "}} </div>
            {% endif %}
        {% endif %}
        <br> <br>
        {% endfor %}
    </divclass="flex-container" style="flex-direction: column;">
<div>

</div>